extends ../../index

block doc-article
  h2 Typography
  p By default, the standard set of typography tags will look like this:

  .example
    h1 Heading 1
    h2 Heading 2
    h3 Heading 3
    h4 Heading 4
    h5 Heading 5
    h6 Heading 6
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p
      em Emphasized
    p
      strong Strong

  h2 Responsive
  p Font sizes and line-heights are set with responsive sizing based on the viewport width. Try changing the size of this screen or view on a different-sized screen for an example.

  h2 Content-optimized
  p To use content-optimized default paragraph text, simply pass in&nbsp;
    code true
    |  to&nbsp;
    code p()

  .example
    p.readable Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p.readable Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  .code
    | p.readable {
    |   @include p(true);
    | }

  h2 Headers
  p Create spacious, dominating header lines

  .example
    header.page-heading
      h1 How to cook a pie
    p The first step to cooking a pie is to choose a fancy tin.

    :markdown
      ### Code

          <header class="page-heading">
            <h1>How to cook a pie</h1>
          </header>
          <p>The first step to cooking a pie is to choose a fancy pie tin.</p>

          .page-heading {
            @include page-heading();
          }


  h2 Decoupled
  p While different sizes of text can be selected with the h1-h6 tags, this fringes on using HTML for styling. The level of a heading should dictate its hierarchy, but not necessarily its size.
  p For this reason, a set of heading mixins are available that can be mixed into the heading tags. Notice in each example below, an h1 tag is used, although the sizes vary.

  table
    thead
      tr
        th Mixin name
        th Implementation
        th Sample
    tbody
      - for size in ['xxl', 'xl', 'lg', 'md', 'rg', 'sm', 'xs', 'xxs']
        tr
          td
            code #{size}-heading()
          td
            .code
              | h1.#{size}
              |   +#{size}-heading
              | &nbsp;
              | &lt;h1 class="#{size}"&gt;Hello World&lt;/h1&gt;
          td
            h1(class="example-#{size}") Hello World
